.menu-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-left: 40px;

  background-color: var(--primary-bgr-color);

  transform: translateY(-1000%);
  transition: transform $timing-function $cubic-hover;
  overflow: auto;

  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    transform: translateY(0);
  }
}

.mobile-container__wrap{
    position: relative;
    width: 100%;
}

.menu-button {
  min-height: 40px;
  min-width: 40px;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  transition: color $timing-function $cubic-hover;

  // @media screen and (min-width: 768px) {
  //     display: none;
  // }
}


.menu-button__icon {
  color: red;
  transition: color $timing-function $cubic-hover;

  .menu-button--close:hover &,
  .menu-button--close:focus & {
    color: var(--accent-color);
  }
}


.mobile-menu__nav{
  @extend %list;

}