.modal {
  @include positionCenter();

  width: 528px;
  height: 581px;
  padding: 40px;

  background-color: var(--primary-bgr-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  &__title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
  }
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--border-close-modal);
  background-color: var(--primary-bgr-color);
  cursor: pointer;
}

.modal__icon-close {
  @include positionCenter();
  transition: fill $timing-function $cubic-hover;

  .modal__close:hover &,
  .modal__close:focus & {
    fill: var(--accent-color);
  }
}

.form {
  &__lable {
    display: block;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: var(--primary-text-color);
  }

  &-control {
    position: relative;
    margin-bottom: 10px;
  }
&__link {
    color: var(--accent-color);
  }
}

.form__input {
  padding: 12px 12px 12px 42px;
  width: 100%;
  height: 40px;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: border-color $timing-function $cubic-hover;

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill $timing-function $cubic-hover;

  .form__input:hover + &,
  .form__input:focus + & {
    fill: var(--accent-color);
  }
}

.form__comments {
  margin-bottom: 20px;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: border-color $timing-function $cubic-hover;

  &::placeholder {
    color: var(--form-comments-text);
  }

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.form__lable-check {
  @include flexCenter();
  column-gap: 9px;
  font-size: 14px;
  line-height: 1.71;
}

.icon__check {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  transition: border-color $timing-function $cubic-hover,
    background-color $timing-function $cubic-hover;

  .form__checkbox:checked + & {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
    background-image: url(../images/icon_check.svg);
    background-size: contain;
    background-origin: border-box;
  }
}

.button__form {
  margin-top: 30px;
  @include button($width: 200px);
}
