.nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  column-gap: 93px;

  &__list {
    @extend %list;
    @include flexCenter();
    column-gap: 50px;
  }
  &__item {
    position: relative;
  }
}

.nav__link {
  @include link();
  @include flexCenter();
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color $timing-function $cubic-hover;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.nav__link_current {
  color: var(--accent-color);

  &::after {
    @include pseudo();
    bottom: -1px;
    left: 0px;

    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    opacity: 1;
  }
}
